backend:
  name: github
  repo: jack970/educamp-gatsby
  branch: master
  preview_context: netlify/netlify-cms-www/deploy-preview
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

display_url: https://aducamp.netlify.app
logo_url: https://aducamp.netlify.app/icons/icon-192x192.png
site_url: https://aducamp.netlify.app
  
publish_mode: editorial_workflow
media_folder: static/assets/img
public_folder: /assets/img
locale: 'pt'

collections:
  - label: Blog
    name: posts
    description: "Crie um novo post para o Blog."
    folder: Posts
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    preview_path: /{{title}}
    create: true
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Descrição", name: "description", widget: "string"}
      - {label: "Data", name: "date", widget: "datetime", format: 'YYYY-MM-DD hh:mm:ss'}
      - {label: "Thumbnail", name: "image", widget: "image"}
      - {label: "Corpo", name: "body", widget: "markdown"}
  - label: Empresa
    name: empresa
    description: "Modifique um post da Empresa"
    folder: Empresa
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    preview_path: /{{title}}
    create: false
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Descrição", name: "description", widget: "string"}
      - {label: "Data", name: "date", widget: "datetime", format: 'YYYY-MM-DD hh:mm:ss'}
      - {label: "Corpo", name: "body", widget: "markdown"}
  - label: Produtos
    name: produtos
    description: "Modifique ou crie um post dos Produtos"
    folder: Produtos
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    preview_path: /{{title}}
    create: true
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Descrição", name: "description", widget: "string"}
      - {label: "Data", name: "date", widget: "datetime", format: 'YYYY-MM-DD hh:mm:ss'}
      - {label: "Preview1", name: "image", widget: "image"}
      - {label: "Preview2", name: "image1", widget: "image"}
      - {label: "Preview3", name: "image2", widget: "image"}
      - {label: "Corpo", name: "body", widget: "markdown"}
  